<% include /partials/header %>

<div class="container-fluid bio-header">
    <h1 class="title">Bio</h1>
</div>

<div class="container-fluid bio-text text-center">
        <h1 class="bio-subtitles">Hello! Welcome to My Portfolio!</h1>
        <div id="profile-container">
            <img class="profile-picture"src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13015460_10206956795733432_6961295848889277870_n.jpg?oh=dda5376eebaa2fbc05e1fb283caad9e4&oe=5856AC9A">
        </div>
            <h1 class="bio-subtitles">About Me</h1>
               <p class="p-text">Hi There! I'm Alan: a developer with a passion for learning, creating, and building. Oddly enough, I didn't go to school for web development. I actually came across programming and web development unintentionally. However, I fell in love with it immediately. To me, development is the ultimate form of creative freedom. With the proper skills and knowledge, you can build whatever you want out of virtually nothing. I have enjoyed every step of my learning journey and can't wait for the future in this budding industry. </p>
            <h1 class="bio-subtitles">Learning Goals</h1>
                <p class="p-text p-text-green ">As you are fully aware of, the software industry is very dynamic in nature. As a result, I am always acquring new skills and technologies. Here's my "learning cue" of technology that I plan to learn:</p>
                <ul class="learning-cue">
                    <li class=" completed">Angular</li>
                    <li>React</li>
                    <li>Photoshop</li>
                    <li>Swift/iOS10</li>
                    <li>Ruby/Rails</li>
                </ul>
            </div>
    
</div>


<% include /partials/footer %>

