<% include ./partials/header %>

<style>
    .bar {
        padding-top: 20%;
    }
    
    .title {
        padding-top:0px;
        font-size:6em;
        padding-bottom: 10px;
    }
</style>

<div class="container-fluid contact-header">
    <div class="container">
        <div class="row bar">
            <div class="col-xs-12">
                  <h1 class="title">Contact</h1>
                  <div class="row">
                       <div class="row btn-box">
                         <a class="btn btn-default facebook" href="http://facebook.com/alan.sax" target="_blank" role="button"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                         <a class="btn btn-default github" href="https://github.com/saxal28" target="_blank" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
                         <a class="btn btn-default fcc" href="https://www.freecodecamp.com/saxal28" target="_blank" role="button"><i class="fa fa-fire" aria-hidden="true"></i></a>
                         <a class="btn btn-default linkedin" href="https://www.linkedin.com/in/alan-sax-576a24b3" target="_blank" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                             <div class="row">
                                 <a class="btn btn-default btn-resume resume" href="https://github.com/saxal28/test/raw/master/Resume-updatedwprogramming.pdf" role="button">Resume <i class="fa fa-download" aria-hidden="true"></i></i></a>
                              </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>