<% include /partials/header %>

<div class="container-fluid contact-header">
    <div class="container">
        <h1 class="title">Contact</h1>
        <div class="row btn-box">
             <a class="btn btn-default" href="http://facebook.com/alan.sax" target="_blank" role="button"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
             <a class="btn btn-default" href="https://github.com/saxal28" target="_blank" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
             <a class="btn btn-default" href="https://www.freecodecamp.com/saxal28" target="_blank" role="button"><i class="fa fa-fire" aria-hidden="true"></i></a>
             <a class="btn btn-default" href="https://www.linkedin.com/in/alan-sax-576a24b3" target="_blank" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
        <div class="row btn-box">
             <a class="btn btn-default btn-resume" href="https://github.com/saxal28/test/raw/master/Resume-updatedwprogramming.pdf" role="button">Resume <i class="fa fa-download" aria-hidden="true"></i></i></a>
        </div>
    </div>
</div>


<% include /partials/footer %>