<% include /partials/header %>

<div class="container-fluid home-header">
    <h1 class="title">Alan Sax</h1>
    <h2 class="sub-header">Web Portfolio</h2>
</div>

<!--<div class="container">-->
<!--    <h1>Home</h1>-->
<!--</div>-->
<% include /partials/footer %>