<% include /partials/header %>

<style>
    body {
       background: #191919;
    }
</style>

<div class="container-fluid portfolio-header">
        <h1 class="title">Portfolio</h1>
</div>

<div class="container">
        <div class="row">

<% portfolios.forEach(function(item) { %>

        <div class="col-md-6">
            <div class="thumbnail">
                <img src="<%=item.image%>">
                <div class="caption text-center">
                    <h3><%=item.title%></h3>
                   
                    <div class="play-button">
                        <a class="btn btn-primary" id="play-button" target="_blank" href="<%= item.link %>"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
                        <a  class="btn btn-primary"href="/portfolio/<%=item._id%>"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    
<% }); %>

    </div>

</div>




<% include /partials/footer %>

