<% include /partials/header %>

<style>
    .container {
        width: 95%;
    }
    .col-md-6 {
        padding-left:0;
        padding-right:0;
    }
    
    .well {
        padding:0;
        margin-bottom: 40px;
    }

</style>

<div class="container-fluid portfolio-header">
        <h1 class="title">Portfolio</h1>
</div>

<div class="container">


<% portfolios.forEach(function(item) { %>

<div class="row well">
    
<div class="col-md-6">
    <!--this is a no-no but its the only way :(-->
    <div style="background:url(<%= item.image %>); background-size:cover;  background-position:center" class="portfolio-container">
    </div>
</div>

<div class="col-md-6">
            <h1 class="portfolio-title"><%= item.title %>
            <div class="row">
                <a href="<%=item.link%>"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
            <div class="row">
                 <a href="<%=item.link%>"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
            </div>
             </h1>
            
            
</div>
                   
    
    </div>
<% }); %>



</div>




<% include /partials/footer %>

