<% include /partials/header %>

<div class="container-fluid skills-header">
    <h1 class="title">Skills</h1>
</div>

<div class="container skills-container">
    
    <div class="row">
        <div class="col-md-6">
            <div class="container skill">
                <img id="html"class="skill-image" src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png">
                <h2 class="skills-title">HTML5</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container skill">
                <img id="css"class="skill-image" src="https://html5hive.org/wp-content/uploads/2014/03/css-beginners-tutorial.jpg?965746">
                <h2 class="skills-title">CSS3</h2>
            </div>
        </div>
    </div>
    
        
                    <!--<div class="row sub-skill well" id="html-row" >-->
                    <!--    <div class="col-md-12">-->
                    <!--        <p>Waistcoat man braid viral pug cray. Hashtag vegan shoreditch craft beer irony man bun try-hard kinfolk DIY, artisan chartreuse wolf williamsburg. Heirloom tattooed bushwick wolf franzen. Truffaut small batch schlitz hammock, ennui health goth you probably haven't heard of them drinking vinegar narwhal next level migas. XOXO gochujang craft beer mlkshk, scenester occupy YOLO bespoke intelligentsia godard tumblr gentrify aesthetic. Ugh art party shabby chic synth kitsch you probably haven't heard of them, before they sold out dreamcatcher shoreditch bespoke schlitz 3 wolf moon. Asymmetrical single-origin coffee health goth, organic literally wolf sustainable whatever.</p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    
                    <!--<div class="row sub-skill well" id="css-row" >-->
                    <!--    <div class="col-md-12">-->
                    <!--        <p>Waistcoat man braid viral pug cray. Hashtag vegan shoreditch craft beer irony man bun try-hard kinfolk DIY, artisan chartreuse wolf williamsburg. Heirloom tattooed bushwick wolf franzen. Truffaut small batch schlitz hammock, ennui health goth you probably haven't heard of them drinking vinegar narwhal next level migas. XOXO gochujang craft beer mlkshk, scenester occupy YOLO bespoke intelligentsia godard tumblr gentrify aesthetic. Ugh art party shabby chic synth kitsch you probably haven't heard of them, before they sold out dreamcatcher shoreditch bespoke schlitz 3 wolf moon. Asymmetrical single-origin coffee health goth, organic literally wolf sustainable whatever.</p>-->
                    <!--    </div>-->
                    <!--</div>-->


    <div class="row">
        <div class="col-md-6">
                <div class="container skill">
                    <img  id="javascript"class="skill-image" src="http://javascriptsolution.com/wp-content/uploads/2016/06/javascript-shield-1.png">
                    <h2 class="skills-title">JavaScript</h2>
                </div>
        </div>
        <div class="col-md-6">
                <div class="container skill">
                    <img id="angular"class="skill-image" src="http://pucksart.com/wp-content/uploads/2014/10/AngularJS-Shield-large-282x300.png">
                    <h2 class="skills-title">Angular</h2>
                </div>
        </div>
    </div>
    
    <div class="row">
         <div class="col-md-6">
             <div class="container skill">
                <img class="skill-image" src="https://davidwalsh.name/demo/nodejs.png?preview">
                <h2 class="skills-title">NodeJS</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container skill skill">
                <img class="skill-image" src="http://nodejs-cloud.com/img/128px/expressjs.png">
                <h2 class="skills-title">Express.js</h2>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="container skill">
                <img class="skill-image" src="https://raw.githubusercontent.com/joelgarciajr84/simple-crud-with-php-mongodb-twitter-bootstrap/master/img/mongodb.png">
                <h2 class="skills-title">MongoDB</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container skill">
                <img class="skill-image" src="http://www.freeiconspng.com/uploads/github-logo-icon-20.png">
                <h2 class="skills-title">Git/Github</h2>
            </div>
        </div>
    </div>
    
   
    
   
    
         
</div>


<% include /partials/footer %>

