body {
    color:black;
    /*background:url(http://i.imgur.com/gVxHe36.jpg);*/
    background:white;
    background-size:cover;
    background-attachment: fixed;
    font-family: Crimson Text;
}


h5, h6 {
    font-family: Julius Sans One;
}

h1, h2,  h3 {
    font-family: Bungee Shade;
      text-shadow: 1px 1px black;
}

#title-subtitle {
    font-family: Reenie Beanie;
    font-size:2em;
}

h4 {
    text-align:center;
     font-family: Julius Sans One;
}

h2 {
    padding-bottom:20px;
    font-size:3em;
}

#title {
    font-size:4em;
    font-family: Bungee Shade;
}

p {
    font-family: Crimson Text;
}

.header {
    height:100%;
    color:black;
    padding-top:20%;
}

.skills-card {
    max-width:500px;
    margin:10px auto;
}

.skill-image {
    height: 90px;
    width: 90px;
    margin:10px;
}

/*navbar*/
.bg-faded {
    background-color:none;
}

img {
    width:100%;
}

.card.hidden.visible.animated.fadeInUp {
    background:rgba(0,0,0,0.6);
    box-shadow: 10px 10px 20px black;
    background:white;
}

section {
    background:white;
    padding:20px;
    padding-top:100px;
    padding-bottom:100px;
    height:100%;
	background:transparent;
	width:80%;
	margin: 0 auto;
}

#skills {
    display:flex;
	align-items: center; 
}

#home {
    padding-top: 20%; 
}

#bio {
    height:auto;
}

#portfolio {
    height:auto;
}

.contact-header {
    padding-bottom:100px;
    padding-top:80px;
}

.button-row {
    text-align: center;
}

.btn-outline-secondary {
    margin:5px;
    font-family: Julius Sans One;
    color:black;
}

.col-md-4, .col-lg-4 {
    margin-bottom:20px;
}

.card-portfolio {
    height:420px;
    border:2px solid black;
    margin-bottom:30px;
    background:white;
    
}

.card-text {
    padding:0px 20px;
    font-size:18px;

}

section h1 {
    font-size:30px;
}

.footer {
    height:10%;
    color:white;
    background:#333;
}

html, body {
    height:100%;
}

.centered-row {
    text-align:center;
}

.card {
    background:transparent;
    
}

.invisible {
     opacity:0;
}
.visible{
     opacity:1;
}

.navbar {
    padding-left:30px;
    padding-right:30px;
}
.navbar-light .navbar-nav .nav-link {
    color:black;
    font-family: Julius Sans One;
    
}

.navbar-light .navbar-brand {
    color:white;
}

.navbar-toggler.hidden-sm-up {
    color:white;
}

/*active class color*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color:red;
}

p.leader {
    font-family: Crimson Text;
    padding:10px 20px;
    font-size:18px;
}

.fa-lightbulb-o {
    font-size:1.2em;
}



/*mobile background fix*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
/*         body{*/
           /*background: url('https://hd.unsplash.com/photo-1466853817435-05b43fe45b39') no-repeat bottom center;*/
           /*background:purple;*/
           /*background-size: cover;*/

/*         }*/
/*         #home {*/
/*             padding-top:60%;*/
/*         }*/
/*        #title {*/
/*            font-size:3em;*/
/*        }*/

/*        #bio {*/
/*            width:100%;*/
/*        }*/
        
/*}*/

/*ipad fixes*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
         #home {
             padding-top:60%;
         }
         #contact {
             padding-top:24%;
         }
                 #title-subtitle {
            font-size: 1.5em;
        }
        .contact-header {
            font-size:2em;
            text-align:center;
        }
}
