body {
    color:white;
    background-image:url(https://www.walldevil.com/wallpapers/a75/blue-clouds-minimalistic-wallpaper-desktop-minimalist-wallpapers.jpg);
    background-size:cover;
    background-attachment: fixed;
    font-family: Crimson Text;
}

.icon {
    width:50px;
    height: 50px;
    box-shadow: 10px 10px 10px black;
    margin:5px;
}


h5, h6 {
    font-family: Julius Sans One;
}

h1, h2,  h3 {
    font-family: Bungee Inline;
    text-shadow: 2px 2px black;
    color:white;
}

#title-subtitle {
    font-family: Reenie Beanie;
    font-size:2em;
}

h4 {
    text-align:center;
     font-family: Julius Sans One;
}

h2 {
    padding-bottom:20px;
    font-size:3em;
}

#title {
    font-size:4em;
    font-family: Bungee Inline;
}

p {
    font-family: Crimson Text;
}

.header {
    height:100%;
    color:black;
    padding-top:20%;
}

.skills-card {
    max-width:500px;
    margin:10px auto;
}

.skill-image {
    height: 90px;
    width: 90px;
    margin:10px;
}

/*navbar*/
.bg-faded {
    background-color:none;
}

img {
    width:100%;
}

/*.card.hidden.visible.animated.fadeInUp {*/
    /*background:rgba(0,0,0,0.6);*/
    /*box-shadow: 10px 10px 20px black;*/
    /*background:white;*/
/*    border:none;*/
/*}*/

section {
    background:white;
    padding:20px;
    padding-top:100px;
    padding-bottom:100px;
    height:100%;
	background:transparent;
	width:80%;
	margin: 0 auto;
}

#skills {
    display:flex;
	align-items: center; 
    width:90%;

}

#home {
    padding-top: 20%; 
}

#portfolio {
    height:auto;
    width: 80%;
    max-width:1000px;
}

.contact-header {
    padding-bottom:100px;
    padding-top:80px;
}

.button-row {
    text-align: center;
}

.btn-outline-secondary {
    margin:5px;
    font-family: Julius Sans One;
    color:black;
    border-color:#333;
    border-left:4px solid #333;
    border-bottom:6px solid #333;
    background:white;
    
}

.btn-outline-secondary:hover {
    border-color:#333;
    color:white;
    background:#333;
}

.col-md-4, .col-lg-6 {
    margin-bottom:20px;
}

.card-portfolio {
    border:2px solid black;
    margin-bottom:30px;
    background:white;
    box-shadow: 10px 10px 10px black;
    
}

.card-block {
    max-width:700px;
    margin: 0 auto;
    font-size: 25px;
    text-align:center;
    background:#333;
    box-shadow: 10px 10px 10px black;
    
}

.card-text {
    padding:0px 20px;
    font-size:18px;
    border-left: 2px solid black;

}

section h1 {
    font-size:30px;
}

.footer {
    height:10%;
    color:white;
    background:#333;
}

html, body {
    height:100%;
}

.centered-row {
    text-align:center;
}

.card {
    background:transparent;
    
}

.invisible {
     opacity:0;
}
.visible{
     opacity:1;
}

.navbar {
    padding-left:30px;
    padding-right:30px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
    font-family: Bungee Inline;
    font-size:20px;
    text-shadow: 2px 2px black;
    
}

/*this is the coffee cup*/
.navbar-light .navbar-brand {
    color:white;
}

/*this is for the hamburger menu*/
.navbar-toggler.hidden-sm-up {
    color:black;
    border: 3px solid #333;
    box-shadow:5px 5px 5px #333;
    background:white;
}

.navbar-toggler.hidden-sm-up:hover {
    color:blue;
}


/*active class color*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color:cyan;
}

p.leader {
    font-family: Crimson Text;
    padding:10px 20px;
    font-size:18px;
}

.fa-lightbulb-o {
    font-size:1.2em;
}



/*mobile background fix*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
/*         body{*/
           /*background: url('https://hd.unsplash.com/photo-1466853817435-05b43fe45b39') no-repeat bottom center;*/
           /*background:purple;*/
           /*background-size: cover;*/

/*         }*/
/*         #home {*/
/*             padding-top:60%;*/
/*         }*/
/*        #title {*/
/*            font-size:3em;*/
/*        }*/

/*        #bio {*/
/*            width:100%;*/
/*        }*/
        
/*}*/

/*ipad fixes*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
         #home {
             padding-top:60%;
         }
         #contact {
             padding-top:24%;
         }
         #title-subtitle {
            font-size: 2.2em;
        }
        .contact-header {
            font-size:2.2em;
            text-align:center;
        }
        #portfolio-title {
            font-size:2.2em;
        }
        body {
            
        }
}
