body {
    font-family: Poppins;
    /*background: #252525;*/
    background:white;
}

.navbar-default {
    margin-bottom: 0;
    border-radius:0;
}



.thumbnail {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    border:4px solid #3ea088;
    padding:0;
}

.caption {
  background: #3ea088;  
  color:white;
}

.show-thumbnail {
    margin-top: 50px;
    width: 95%;
}

.skill {
    width: 90%;
    /*background:orange;*/
    height: auto;
    padding:10px;
    margin: 10 auto;
    margin-bottom: 30px;
    text-align: center;
    line-height: 150px;
}

.sub-skill {
    width: 100%;
    margin:0 auto;
}

.skill-image {
    width:250px;
    height:250px;
    /*float:left;*/
}

.skill-sub-image {
    width:100px;
    height:100px;
    /*float:left;*/
}

.profile-picture {
    /*width: 25%;*/
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin: 2% auto;
    
}

.jumbotron {
    margin-top:0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

span {
    font-size: 2em;
    padding-left: 10px;
}

#image-header {
    width:100%;
}



.title {
    padding-top: 20%;
    font-size: 6em;
    font-family: Chelsea Market;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.sub-header {
    text-align: center;
    font-family: Chelsea Market;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
    color: gray;
}

.page-header {
    font-family: Special Elite;
    font-size: 3em;
}


.p-text {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    text-indent: 50px;
    margin-bottom: 0px;
    width:70%;
    min-width:350px;
}

ul {
    font-size: 1.3em;
    color: gray;
}

.jumbotron.home {
    height:100%;
}

html,body {
    height:100%;
}

.special,.special .jumbotron {
    height:100%;
}

.skills-header{
    height:100%;
    background: url(http://i.imgur.com/VZSdVvZ.jpg);
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    width:100%;
}


.home-header{
    height:100%;
    background: url(http://i.imgur.com/aJUFbBZ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

.contact-header{
    height:100%;
    background: url(http://i.imgur.com/yZJnNkK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

.portfolio-header{
    height:100%;
    background: url(http://i.imgur.com/aLF86AG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    margin-bottom: 60px;
}

.bio-header{
    height:100%;
    background: url(http://i.imgur.com/6gMmjK5.jpg);
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.learning-cue {
    list-style: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    margin: 0 auto;
    width:70%;
    min-width: 350px;
}

.btn-default {
    font-size: 20px;
    margin: 5px;
    border-radius: 100px;
}

.btn-default:hover {
    background:#00e710;
    color:white;
    border: 1px solid #00e710;
}

.btn-primary {
    font-size: 24px;
    border-radius: 100px;
    background:transparent;
    color:white;
    border:none;

}

.btn-primary:hover {
    background-color:transparent;
    color:orange;
}

.btn-resume {
    margin-top: 30px;
    width: 220px;
}

.btn-box {
    margin: 0 auto;
    text-align: center;
}

#show-image {
    width: 100%;
}

.bio-text {
    background-size: cover;
    background-color:white;
    width: 70%;
    padding-left:5px;
    padding-right:5px;
    min-width: 360px;
    box-shadow: 10px 10px 10px black;
    font-size: 25px;
    font-family: Poppins;
    border:1px solid black;
}

.bio-subtitles {
    text-align: center;
    font-family: Poppins;
    font-size: 2em;
    color: black;
    padding: 3%;
    margin-top: 0px;
    margin-bottom:0px;
    width: 100%;
}

#profile-container {
    padding: 5% auto;
    margin-bottom: 0px;
}

.completed {
    color: green;
}


.inline {
    display:inline;
}

#row1 {
    background: green;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin:0px;
}

.row {
    margin:0px;
}

.skills-title {
    font-family: Poppins;
    color: black;
    font-size:3em;
    font-weight: 300;
}

.skills-title-green {
    font-family: Poppins;
    color: green;
    font-size:2em;
    font-weight: 300;
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.play-button {
    text-align: right;
}

.portfolio-image {
    width: 100%;
}

.portfolio-container {
    width:100%;
    height:400px;
    background-size: cover;
    background-position:center;
    color:white;
    text-align: center;
    min-width: 330px;
}

.portfolio-title {
    padding-top:10%;
    opacity: .5;
    height:350px;
    margin-top:0px;
    font-size:3em;
    font-weight: 200;
    text-align: center;
    min-width: 350px
    background:black;
}

.fa-search, .fa-gamepad {
    font-size: 1.5em;
    color:orange;
}

.fa-search {
    padding-top:40px;
}

.fa-search:hover, .fa-gamepad:hover {
    color:blue;
}

.facebook {
    width:100px;
    height:100px;
    background:	#3726c0;
    color:white;
    border-radius:0;
    border:none;
    font-size: 5em;
}

.github {
    width:100px;
    height:100px;
    background:#564d4a;
    color:white;
    border-radius:0;
    border:none;
    font-size: 5em;
}

.fcc {
    width:100px;
    height:100px;
    background:green;
    color:white;
    border-radius:0;
    border:none;
    font-size: 5em;
}

.linkedin {
    width:100px;
    height:100px;
    background:#2775ff;
    color:white;
    border-radius:0;
    border:none;
    font-size: 5em;
}

.resume {
    width:300px;
    height:100px;
    background:#f24333;
    color:white;
    border-radius:0;
    border:none;
    font-size: 3em;
    line-height:100px;
}

.facebook:hover {
    background:#111f71;
    border-color:#111f71;
}

.linkedin:hover {
    background: #3726c0;
    border-color:#3726c0;
}

.github:hover {
    background:black;
    border-color: black;
}

.resume:hover {
    background:	#ba1b1d;
    border-color:#ba1b1d;
}

strong {
    padding-left:3px;
}

