body {
    font-family: Chelsea Market;
    /*background: #252525;*/
    background:white;
}

.navbar-default {
    margin-bottom: 0;
    border-radius:0;
}

.thumbnail {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
    border:4px solid #3ea088;
    padding:0;
}

.caption {
  background: #3ea088;  
  color:white;
}

.show-thumbnail {
    margin-top: 50px;
    width: 95%;
}

.skill {
    width: 90%;
    /*background:orange;*/
    height: auto;
    padding:10px;
    margin: 10 auto;
    margin-bottom: 30px;
    text-align: center;
    line-height: 150px;
}

.sub-skill {
    width: 100%;
    margin:0 auto;
}

.skill-image {
    width:250px;
    height:250px;
    /*float:left;*/
}

.skill-sub-image {
    width:100px;
    height:100px;
    /*float:left;*/
}

.profile-picture {
    /*width: 25%;*/
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin: 5% auto;
    
}

.jumbotron {
    margin-top:0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

span {
    font-size: 2em;
    padding-left: 10px;
}

#image-header {
    width:100%;
}



.title {
    padding-top: 20%;
    font-size: 6em;
    font-family: Chelsea Market;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.sub-header {
    text-align: center;
    font-family: Chelsea Market;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
    color: gray;
}

.page-header {
    font-family: Special Elite;
    font-size: 3em;
}


.p-text {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    text-indent: 50px;
    padding: 5% 5%;
    margin-bottom: 0px;
}

ul {
    font-size: 1.3em;
    color: gray;
}

.jumbotron.home {
    height:100%;
}

html,body {
    height:100%;
}

.special,.special .jumbotron {
    height:100%;
}

.skills-header{
    height:100%;
    background: url(http://i.imgur.com/VZSdVvZ.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}


.home-header{
    height:100%;
    background: url(http://i.imgur.com/aJUFbBZ.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: center;
}

.contact-header{
    height:100%;
    background: url(http://i.imgur.com/yKQcRxX.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: center;
}

.portfolio-header{
    height:100%;
    background: url(http://i.imgur.com/aLF86AG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: center;
    margin-bottom: 60px;
}

.bio-header{
    height:100%;
    background: url(http://i.imgur.com/6gMmjK5.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.learning-cue {
    list-style: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    margin-left:30%;
}

.btn-default {
    font-size: 20px;
    margin: 5px;
    border-radius: 100px;
}

.btn-default:hover {
    background:#00e710;
    color:white;
    border: 1px solid #00e710;
}

.btn-primary {
    font-size: 24px;
    margin: 5px;
    border-radius: 100px;
    background:transparent;
    color:white;
    border:none;
}

.btn-primary:hover {
    background-color:transparent;
    color:orange;
}

.btn-resume {
    margin-top: 30px;
    width: 220px;
}

.btn-box {
    margin: 0 auto;
    text-align: center;
}

#show-image {
    width: 100%;
}

.bio-text {
    background: white;
    background-size: cover;
    width: 70%;
    min-width: 350px;
    box-shadow: 10px 10px 10px black;
    font-size: 24px;
    font-family: Chelsea Market;
    border:1px solid black;
}

.bio-subtitles {
    text-align: center;
    font-family: Chelsea Market;
    font-size: 2em;
    color: black;
    padding: 5%;
    margin-top: 0px;
    margin-bottom:0px;
    width: 100%;
}

#profile-container {
    padding: 5% auto;
    margin-bottom: 0px;
}

.completed {
    text-decoration: line-through;
    color: green;
}

.progress {
    color:green;
    text-decoration: line-through;
}

.inline {
    display:inline;
}

#row1 {
    background: green;
}

.skills-title {
    font-family: Coming Soon;
    color: black;
    font-size:3em;
    font-weight: bold;
}

.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.play-button {
    text-align: right;
}
